

#test1{
    max-width: 100%;
    height: auto;
}

#test2 img,h2{
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

#bottom{
    text-align: center;
    font-size: 10px;
    position: bottom;  
    bottom: 10;
    right:47%;
    padding-top: 60px;
}



