body{
    font-family: 'Noto Sans KR', sans-serif;
}

#content{
    text-align:'left';
}


#content_top{
    /* 연분홍 */
    /* background-color: #FDE9E5; */

    /* 민트 */
    /* background-color: #EEFDF2; */

    /* [주황] */
    /* background-color: #FEF6D8 */
    background-color: #ECE7E7;
    ;


    /* height: 500px; */
    margin-top: 5px;
    padding-bottom: 15px;
}


#content_body{
    background-color: white;
    /* height: 500px; */
    margin-top: 5px;
    padding-bottom: 15px;

}

.box{
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    /* border: 1px solid black; */
}

#theme{
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration:underline;
    width: 190px;
}

#description{
    font-size:15px;
    font-family: 'Noto Sans KR', sans-serif;    
    line-height: 25px;
}

#description > a {
    font-weight: 700;
    color: black;
    cursor: auto;
}


ul{
    padding: 0 ;    
}

#content_body>.title{
    font-size:23px;
    text-align: center;
    background-color: #E7F5E3;
    margin-top: 80px;
    margin-bottom: 40px;
}

#content_body>.idea{
    font-size:15px;
    list-style:none;
    line-height:25px;
    text-align: center;
    margin-bottom: 13px;
}

#content_body> div> a{
    background-color: #820027;
    color:white;
}

#total_container{
    margin-bottom: 100px;
   
  }



#introduce_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
  }
/* 
#linetest{

    background-color: white;
    border-left: 2px solid gray;
    width: 5px;
    height: 2500px;
} */


#introduce_title {
    padding-right:13px;
    /* padding-top: 4px; */
    font-size:25px;
    list-style:none;
    line-height:25px;
    text-align: right;
    margin-bottom: 5px;
    margin-top: 88px;
    width: 350px;
    height: 35px;
    
    align-items: center;
    border-right: 2px solid gray;

}


/* #introduce_body {
   
    padding: 15px;
    font-size:15px;
    list-style:none;
    line-height:25px;
    text-align: left;
    margin-bottom: 100px;
    margin-top: 80px;
    width: 600px;
    height: 500px;
    border-left: 2px solid gray;
  } */

#introduce_body0 { 
    /* 프로젝트명 */
    padding: 15px;
    font-size:15px;
    list-style:none;
    line-height:25px;
    text-align: left;
    margin-bottom: 100px;
    margin-top: 75px;
    margin-left: 50px;
    width: 600px;
    height: 50px;
    

  }


#introduce_body1 {
    /* 주제 선정 배경 */
    padding: 15px;
    font-size:15px;
    list-style:none;
    line-height:25px;
    text-align: left;
    margin-bottom: 100px;
    margin-top: 75px;
    margin-left: 50px;
    width: 600px;
    height: 70px;
   

  }


#introduce_body4 {
    /* 데이터수집 및 활용방법 */
    padding: 15px;
    font-size:15px;
    list-style:none;
    line-height:25px;
    text-align: left;
    margin-bottom: 100px;
    margin-top: 80px;
    margin-left: 50px;
    width: 600px;
    height: 200px;
  }

#introduce_body5 {
    /* 구현기능 */
    padding: 15px;
    font-size:15px;
    list-style:none;
    line-height:25px;
    text-align: left;
    margin-bottom: 100px;
    margin-top: 80px;
    margin-left: 50px;
    width: 600px;
    height: 250px;
  }

#introduce_body6 {
    /* 기대효과 */
    padding: 15px;
    font-size:15px;
    list-style:none;
    line-height:25px;
    text-align: left;
    margin-bottom: 100px;
    margin-top: 80px;
    margin-left: 50px;
    width: 600px;
    height: 200px;
    

  }

#data{

    text-decoration: underline;
    font-size:17px;
}


#up{
    height: 40px;
    width: 50px;
   line-height: 40px;
   border-radius: 4px;
   color: beige;
   background-color:  #820027;
   text-align: center;
   font-size: 16px;
   opacity: 1

}

#introduce_body5 > a:nth-child(1), #introduce_body5 > a:nth-child(6), #introduce_body5 > a:nth-child(12){
    font-weight: 500;
    font-size: 20px;
    color: black
}