body{
    font-family: 'Noto Sans KR', sans-serif;
}

#content{
    text-align:'left';
}


#content_top{

    /* background-color: #ECE7E7; */
    background-color: #ECE7E7;
    margin-top: 5px;
    padding-bottom: 15px;
}


@media screen and (max-width: 767px) {
    /* 스마트폰 */
    #content_top {
        width: 100%;
        margin-top: 150px;
    }

}



.box1_1{
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

}


@media screen and (max-width: 767px) {
    /* 스마트폰 */
    .box1_1 {
        width: 100%;
    }

}


#theme{
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration:underline;
    width: 190px;
}

#description{
    font-size:15px;
    font-family: 'Noto Sans KR', sans-serif;    
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    /* 스마트폰 */
    #description {
        width: 100%;
          }
    #description > a{
        font-size: 9px;
        }
}

#description > a {
    font-weight: 700;
    color: black;
    cursor: auto;
}


ul{
    padding: 0 ;    
}


#total_container1_1{
    margin-bottom: 100px;
   
  }


#introduce_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
   
  }


@media screen and (max-width: 767px) {
    /* 스마트폰 */
    #introduce_container {
        width: 100%;
        flex-direction: column;
    }

}


#introduce_title {
    padding-right:13px;
    font-size:25px;
    list-style:none;
    line-height:25px;
    text-align: right;
    margin-bottom: 5px;
    width: 350px;
    height: 35px;
    align-items: center;
    border-right: 2px solid gray;

}


@media screen and (max-width: 767px) {
    /* 스마트폰 */
    #introduce_title {
        width: 100%;
        text-align: center;
        padding-right:0px;
        padding-bottom: 60px;
        
    }

}


#introduce_body { 
 
    font-size:15px;
    list-style:none;
    line-height:25px;
    text-align: left;
    margin-bottom: 100px;
    margin-left: 50px;
    width: 600px;   
  }


@media screen and (max-width: 767px) {
    /* 스마트폰 */
    #introduce_body {
        width: calc(100% - 20px);
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
       
    }

}


.introducing{
    font-size:17px;
    font-weight: 600;   
}

#data p{
    font-size : 15px;
    margin-bottom: 20px;
}


#up{
    height: 40px;
    width: 50px;
   line-height: 40px;
   border-radius: 4px;
   color: beige;
   background-color:  #820027;
   text-align: center;
   font-size: 16px;
   opacity: 1

}

#introduce_body > a{
    font-weight: 500;
    font-size: 18px;
    color: black
}


#introduce_body > a:nth-child(1):hover, #introduce_body > a:nth-child(6):hover, #introduce_body > a:nth-child(12):hover{

    
    background-color:rgb(252, 223, 170);
    border-radius: 5px;
}


