body{
    font-family: 'Noto Sans KR', sans-serif;
}

#content{
    text-align:'left';
}


#content_top{

    background-color: #ECE7E7;
    margin-top: 5px;
    padding-bottom: 15px;
 
    
}


#content_body{
    background-color: white;
    margin-top: 5px;
    padding-bottom: 15px;

}

.box1_1{
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

}


#theme{
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration:underline;
    width: 190px;
}

#description{
    font-size:15px;
    font-family: 'Noto Sans KR', sans-serif;    
    line-height: 25px;
}

#description > a {
    font-weight: 700;
    color: black;
    cursor: auto;
}


ul{
    padding: 0 ;    
}

#content_body>.title{
    font-size:23px;
    text-align: center;
    background-color: #E7F5E3;
    margin-top: 80px;
    margin-bottom: 40px;
}

#content_body>.idea{
    font-size:15px;
    list-style:none;
    line-height:25px;
    text-align: center;
    margin-bottom: 13px;
}

#content_body> div> a{
    background-color: #820027;
    color:white;
}

#total_container1_1{
    margin-bottom: 100px;
   
  }

@media screen and (min-width: 767px) {
    /* PC */
    #total_container1_1 {
        width: 1200px;
    }
    
}

@media screen and (max-width: 767px) {
    /* μ¤λ§νΈν° */
    #total_container1_1 {
        width: 100%;
    }

}




#introduce_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
   
  }


#introduce_title {
    padding-right:13px;
    font-size:25px;
    list-style:none;
    line-height:25px;
    text-align: right;
    margin-bottom: 5px;
    width: 350px;
    height: 35px;
    
    align-items: center;
    border-right: 2px solid gray;

}


#introduce_body { 
 
    font-size:15px;
    list-style:none;
    line-height:25px;
    text-align: left;
    margin-bottom: 100px;
    margin-left: 50px;
    width: 600px;   
  }


.introducing{
    font-size:17px;
    font-weight: 600;   
}

#data p{
    font-size : 15px;
    margin-bottom: 20px;
}


#up{
    height: 40px;
    width: 50px;
   line-height: 40px;
   border-radius: 4px;
   color: beige;
   background-color:  #820027;
   text-align: center;
   font-size: 16px;
   opacity: 1

}

#introduce_body > a{
    font-weight: 500;
    font-size: 18px;
    color: black
}