body{
    font-family: 'Noto Sans KR', sans-serif;
}

#content{
    text-align:'left';
}

#content_gray2{
    background-color: #ECE7E7;
    height: 400px;
    margin-top: 5px;
    padding-bottom: 15px;
}


.team_box{
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    /* border: 1px solid black; */
}

#theme{
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration:underline;
    width: 190px;
    text-align: left;
}

#description{
    font-size:15px;
    font-family: 'Noto Sans KR', sans-serif;    
    line-height: 25px;
}

#description > a {
    font-weight: 700;
    color: black;
    cursor: auto;
}


ul{
    padding: 0 ;    
}

#content_white>.title{
    font-size:23px;
    text-align: center;
    background-color: beige;
    margin-top: 80px;
    margin-bottom: 40px;
}

#content_white>.idea{
    font-size:15px;
    list-style:none;
    line-height:25px;
    text-align: center;
    margin-bottom: 13px;
}

#content_white> div> a{
    background-color: #820027;
    color:white;
}


#imgThree{
    flex-direction: row;
    display: flex;
    justify-content: center;
}


#profile_top1, #profile_top2, #profile_top3{
    width:170px;
    height:170px;
    padding: 0px;
    justify-content: center;
    border-radius: 150px;
    border: 5px solid gray;
}


#imgfix{
    flex-direction: column;
    display: flex;
    height:250px;
    width:250px;
    text-align: center;
    justify-content: center;
    align-items: center; 
    padding: 5px;

}




#team {
    width:250px;
    height:300px;
    padding: 10px;
    text-align: center;
}

#Tab {
    text-align: center;
    font-size:18px;
}


.members {
    font-size: 30px;
    text-align: center;
    margin: 10px;
    margin-top: 60px;
}

#introduce_top {
    margin: 0 auto;
    width: 500px;
    height: 300px;
    display: flex;
    border: 1px solid black;
}


#profile_body {
    width:200px;
    height:240px;
    padding: 15px;
    margin-top: 30px;
}


#members_detail {
    text-align: center;
    font-size:15px;
    margin-top: 30px;
}

/* --------------------------------11 24 수정한거----------------------------------- */

#members_container{
    flex-direction: row;
    display: flex;
    justify-content: center;
    /* background-color: #fff2e6; */

    /* align-items: center; (높이까지 중앙으로 정렬) */


}

#left {  

    margin-top: 50px;
    margin-right: 10px;
    width: 400px;
    height: 450px;
    /* background: linear-gradient(#ffffff, #f0f0f5); */
    border-radius: 15px;
    border: 2.3px solid #e9e9ff;
    
   

    /* border-width: 3px 1px 2px;
    border-style: none;
    border-color: #820027; */

}

#profile {
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    padding: 10px;
}

#mickey {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 3px solid gray;
}

#profile_detail {
    text-align: left;
    line-height: 50px;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 50px;
}

#profile_detail > span:nth-child(2),:nth-child(5),:nth-child(8),:nth-child(11){
    font-weight: 600;
}

#right {
    margin-top: 50px;
    text-align: center;
    height: 1500px;
    width: 700px;
    border-left: 2px solid rgb(221, 221, 221);
}


#profile_contents {
    text-align: left;
    font-size: 15px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    line-height: 25px;
    /* border-top: 2px solid gray; */
}

#profile_contents_title {
    color: rgb(14, 85, 41);
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 25px;
    border-bottom: 2px solid gray;
}


.invisible{
    opacity: 0;
    transition: opacity 1s ease;
}


.visible{
    opacity: 1;
    transition: opacity 1s ease;
}