
body{
    font-family: 'Noto Sans KR', sans-serif;
}

#content1_2{
    text-align:'left';
}

#content_gray2{
    background-color: #ECE7E7;
    height: 400px;
    margin-top: 5px;
    padding-bottom: 15px;
}

.team_box{
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

#theme{
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration:underline;
    width: 190px;
    text-align: left;
}

#description{
    font-size:15px;
    font-family: 'Noto Sans KR', sans-serif;    
    line-height: 25px;
}

#description > a {
    font-weight: 700;
    color: black;
    cursor: auto;
}

ul{
    padding: 0 ;    
}

#content_white>.title{
    font-size:23px;
    text-align: center;
    background-color: beige;
    margin-top: 80px;
    margin-bottom: 40px;
}

#imgThree{
    flex-direction: row;
    display: flex;
    justify-content: center;
}

#profile_top1, #profile_top2, #profile_top3{
    width:170px;
    height:170px;
    padding: 0px;
    justify-content: center;
    border-radius: 150px;
    border: 5px solid gray;
}

#imgfix{
    flex-direction: column;
    display: flex;
    height:250px;
    width:250px;
    text-align: center;
    justify-content: center;
    align-items: center; 
    padding: 5px;

}

#team {
    width:250px;
    height:300px;
    padding: 10px;
    text-align: center;
}

#Tab {
    text-align: center;
    font-size:18px;
}

.members {
    font-size: 30px;
    text-align: center;
    margin: 10px;
    margin-top: 60px;
}

#introduce_top {
    margin: 0 auto;
    width: 500px;
    height: 300px;
    display: flex;
    border: 1px solid black;
}

#profile_body {
    width:200px;
    height:240px;
    padding: 15px;
    margin-top: 30px;
}


#members_detail {
    text-align: center;
    font-size:15px;
    margin-top: 30px;
}

#members_container{
    flex-direction: row;
    display: flex;
    justify-content: center;

}

#left {  
    margin-top: 50px;
    margin-right: 10px;
    width: 400px;
    height: 440px;
    border-radius: 15px;
    border: 2.3px solid #e9e9ff;

}

#left_phone {  
    margin-top: 50px;
    width: 400px;
    height: 450px;
    border-radius: 15px;
    border: 2.3px solid #e9e9ff;
    display: none;
}

#profile {
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    padding: 10px;
}

#mickey {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 3px solid gray;
}

#profile_detail {
    text-align: left;
    line-height: 50px;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 50px;
}

#profile_detail > span:nth-child(2),:nth-child(5),:nth-child(8),:nth-child(11){
    font-weight: 600;
}

#right {
    margin-top: 50px;
    text-align: center;
    height: 1500px;
    width: 700px;
    border-left: 2px solid rgb(221, 221, 221);
}

#profile_contents {
    text-align: left;
    font-size: 15px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 70px;
    line-height: 35px;
}

#profile_contents_title {
    color: rgb(14, 85, 41);
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 25px;
    border-bottom: 2px solid gray;
}


.invisible{
    opacity: 0;
    transition: opacity 1s ease;
}


.visible{
    opacity: 1;
    transition: opacity 1s ease;
}






 /* μ¤λ§νΈν° */
@media screen and (max-width: 767px) {
   
    #content_gray2 {
        width: 100%;
        height: 15%;
        margin-top: 40%;
    }

    .team_box {
        width: 100%;
    }

    #imgfix{
        height: calc(100%-20px);
    }

    #imgfix > font{
        padding-top: 10%;
        font-size: 13px;
    }

    #imgThree {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        padding-top: 0;
    }

    #profile_top1, #profile_top2, #profile_top3{
        width: 100%;
        height: 40%;
        float: left;
        padding: 0;
    }

    .members {
        width: 100%;
        margin-left: 3px;
        margin-right: 3px;
        width: 100%;
    }

    #members_container {
        width: 100%;
        flex-direction: column;
    }

    #left {
        display: none; 
    }

    #left_phone {
        display: block;
        width: 80%;
        margin-left: 10%;   
        margin-top: 0;
          
    }

    #right {
        width: 100%;
    }

}

