body{
    font-family: 'Noto Sans KR', sans-serif;
}

#content{
    text-align:'left';
}

#content_gray2{
    background-color: #ECE7E7;
    height: 400px;
    margin-top: 5px;
    padding-bottom: 15px;
}


.team_box{
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    /* border: 1px solid black; */
}

#theme{
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration:underline;
    width: 190px;
    text-align: left;
}

#description{
    font-size:15px;
    font-family: 'Noto Sans KR', sans-serif;    
    line-height: 25px;
}

#description > a {
    font-weight: 700;
    color: black;
    cursor: auto;
}


ul{
    padding: 0 ;    
}

#content_white>.title{
    font-size:23px;
    text-align: center;
    background-color: beige;
    margin-top: 80px;
    margin-bottom: 40px;
}

#content_white>.idea{
    font-size:15px;
    list-style:none;
    line-height:25px;
    text-align: center;
    margin-bottom: 13px;
}

#content_white> div> a{
    background-color: #820027;
    color:white;
}

#profile_top1, #profile_top2, #profile_top3{
    width:250px;
    height:250px;
    padding: 40px;

}


#team {
    width:250px;
    height:300px;
    padding: 10px;
    text-align: center;
}

#Tab {
    text-align: center;
    font-size:18px;
}


.members {
    font-size: 30px;
    text-align: center;
    margin: 10px;
    margin-top: 60px;
}

#introduce_top {
    margin: 0 auto;
    width: 500px;
    height: 300px;
    display: flex;
    border: 1px solid black;
}


#profile_body {
    width:200px;
    height:240px;
    padding: 15px;
    margin-top: 30px;
}


#members_detail {
    text-align: center;
    font-size:15px;
    margin-top: 30px;
}

/* --------------------------------11 24 수정한거----------------------------------- */

#members_container{
    flex-direction: row;
    display: flex;
    margin: 0 auto;

}

#left {

    width: 400px;
    background-color: beige;
    /* margin-left: 300px; */
 
}

#profile {
    text-align: center;
    font-size: 16px;
    padding: 20px;
}

#mickey {
    width: 150px;
    height: 150px;
    
}

#profile_detail {
    text-align: left;
    font-size: 13px;
    /* margin-left: 50px; */
}



#right {
    text-align: center;
    width: 700px;
    background-color : #F3FCED
}


#profile_contents {
    text-align: left;
    font-size: 15px;
    padding: 20px;
}
