body{
    font-family: 'Noto Sans KR', sans-serif;
}

#content{
    text-align:'left';
}

#basic_gray{
    height: 250px;
    background-color: #ECE7E7;   
    margin-top: 5px;
  }

.box2_2{
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
   
}

@media screen and (max-width: 767px) {
    /* 스마트폰 */
    .box2_2 {
        width: 100%;
          }

}

#theme{
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration:underline;
    width: 190px;
}

#description{
    font-size:15px;
    font-family: 'Noto Sans KR', sans-serif;    
    line-height: 25px;
    text-align: left;
}

#description > a {
    font-weight: 700;
    color: black;
    cursor: auto;
}

#comment{
    text-decoration: none;
    font-weight: 200;
    font-size: 13px;
}

ul{
    padding: 0 ;    
}

#content_white>.title{
    font-size:23px;
    text-align: center;
    background-color: beige;
    margin-top: 80px;
    margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
    /* 스마트폰 */
    #content_white>.title {
        width: 100%;
          }

}

#content_white>.idea{
    font-size:15px;
    list-style:none;
    line-height:25px;
    text-align: center;
    margin-bottom: 13px;
}


@media screen and (max-width: 767px) {
    /* 스마트폰 */
    #content_white>.idea {
        width: 100%;
        margin-right: 15px;
        margin-left: 15px;
        width: calc(100% - 30px);
        text-align: justify;
        }

}

#content_white> div{
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;;
}



#content_white > li:nth-child(3) > a{
    width: 100px;
    color: black;
    text-decoration: underline;
}

#content_white> div> a{
    background-color: #820027;
    color:white;
}

#sentimental{
    height: 360px;
    margin-bottom: 30px;
}




#sentimental > li{
    font-size:18px;
    text-align: center;
    margin-bottom: 40px;
    list-style:none;
    margin-top: 50px;
}
#sentimental > li:nth-child(1) > a.click, #sentimental > li:nth-child(3) > a.click{
    font-size: 13px;
    color: gray;
}

#sentimental > li> a{
    width: 100px;
    color: black;
    font-weight: 600;
}
#sentimental > span{
    list-style: none;
    text-align: center;
    font-size: 14px;
}