#best_services > div > div > img{
    width: 650px;
    height: 250px;
}

#point_chart{
    float:left;
    margin: 30px 20px;
}

#point_dates{
    float:left;
    margin-top: 35px;
    margin-left: 5px;
    width: 200px;
 
}
#point_dates > tr{
    text-align: center;
}

#pointintro{
    font-size: 15px;
    font-weight: bold;
    color: #020940;
}

#point{
    border-top: 1px solid gray;
    font-size: 20px;
    padding: 10px 35px;
}

#wc_box{
    float: left;
    margin-left: 200px;  
    margin-top: 130px;
    text-align: center;
}

#wordcloud{
    transform:scale(2.5); 
}
 
#wordcloud svg{
    width: 370px;
    height: 230px;
}


 
#wordcloud > svg text{
    font-family: 'Noto Sans KR', sans-serif !important;
    font-weight: 700;
    /* width: 800px;
    height:450px; */
}


/* #best_services .belowChart .highcharts-container{
    width : 100px;
}*/

#point_part{
    flex-direction: row;
    display: flex;
}

#best_services{
    margin-top: 50px;
}