#best_services > div > div > img{
    width: 650px;
    height: 250px;
}

#point_chart{
    float:left;
    margin: 30px 20px;
}

#point_dates{
    float:left;
    margin-top: 35px;
    margin-left: 5px;
    width: 200px;
 
}
#point_dates > tr{
    text-align: center;
}

#pointintro{
    font-size: 15px;
    font-weight: bold;
    background-color: ;
    color: #020940;
}

#point{
    border-top: 1px solid gray;
    font-size: 20px;
    padding: 10px 35px;
}

#wc_box{
    float: left;
    margin-left: 50px;  
    text-align: center;
}

#wordcloud{
    width: 700px;
    height:350px;
    border: 1px solid gray;
}

