#content_gray4{
    background-color: #ECE7E7;
    margin-top: 5px;
    padding-bottom: 15px;
}


@media screen and (max-width: 767px) {
    /* 스마트폰 */
    #content_gray4 {
        width: 100%;
        height: 500px;
        margin-top: 120px;
        }

}

.box4{
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
   
}


@media screen and (max-width: 767px) {
    /* 스마트폰 */
    .box4 {
        width: 100%;
        }

}

#theme4{
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration:underline;
    width: 350px;
}

#theme4_1{
    font-size:15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    text-decoration:underline;
    width: 350px;
    margin-top: 40px;
}

#content_gray4 > div > div > p:nth-child(4),p:nth-child(5){
    font-size: 15px;
}

#content_gray4 > div > div > p:nth-child(4) > a{
    font-weight: 700;
    color: black;
    cursor: auto;
}
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

#content_white4{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    margin-top: 60px;
    /* border: 1px solid black; */
}

#select_industry{
    width: 70%;
    /* border: 1px solid black;
    border-radius: 30px; */
    box-sizing: border-box;
    float: left;
}

#select_industry,#finance_state > span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 23px;
    margin-bottom: 15px;
}

#first > div > select{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

#finance_state{
    width: 29%;
    float: left;
    /* border-radius: 30px;
    border: 1px solid black; */
}

#first, #second{
    float: left;
    width: 50%

}
#second > .estimate1, .estimate2{
    font-size: 15px;
    margin-top: 10px;
}

#second >.estimate1 > input{
    font-family: 'Noto Sans KR', sans-serif;
    width: 150px;
    margin-left: 10px;
}

#finance_state > .estimate2 > input {
    font-family: 'Noto Sans KR', sans-serif;
    width: 150px;
    margin-left: 10px;
}

#finance_state > div:nth-child(2) > input{
    margin-left: 24px;
}

#finance_state > .estimate2 > input {
    font-family: 'Noto Sans KR', sans-serif;
    width: 150px;
    margin-left: 10px;
}

#finance_state > button{
    margin-top: 13px;
    font-family: 'Noto Sans KR', sans-serif;
}

#second > button{
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 10px;
}

body > div:nth-child(8) > div > div.ant-modal-wrap > div > div.ant-modal-content > div.ant-modal-body > .face,
body > div:nth-child(9) > div > div.ant-modal-wrap > div > div.ant-modal-content > div.ant-modal-body > .face{
    text-align: center;
    font-weight: 600;
}
#rcDialogTitle1, #rcDialogTitle3{
    text-align: center;
}

#naverfinance{
    text-align: center;
}

#naverfinance > div> iframe {
    width: 1000px;
    height: 1000px;
}

#aboutiframe{
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

#aboutiframe > span{
    font-size: 14px;
    font-weight: 500;
    color: gray;
}

#second > div.ant-space.ant-space-horizontal.ant-space-align-center > div > span > svg{
    width: 15px;
    margin-left: 5px;
}    
