#total_container{
    
    margin: 0 auto;    
}

#logo{
    float: left;
    margin: 5px 30px;

}
#top_container{
    box-sizing: border-box;
    line-height: center;
    height: 50px;
}
#main_category{
    text-align: center;
    background-color: white;
    margin: 15px 30px;
    
}

#main_category > li > a {
    margin: 5px 35px;
    font-size: medium;
    color: black;
}

.ant-menu-submenu.ant-menu-submenu-horizontal {
    background-color: yellow;
}

#main_category.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: white;
    font-weight: bold;
    font-size: medium;
}

#main_category.ant-menu.ant-menu-dark .ant-menu-item:hover {
    background-color: white;
    font-weight: bold;  
}

#content_gray{
    background-color: #ECE7E7;
    /* height: 500px; */
    margin-top: 5px;
    padding-bottom: 15px;
}

#content_white{
    margin: 0 auto;
    width: 1200px;
    height: 800px;
    margin-top: 50px;
}

/* #content{
    text-align: center;
} */