#total_container{
    margin: 0 auto;    
}

#logo{
    float: left;
    margin: 5px 40px;
}

#top_container{
    box-sizing: border-box;
    line-height: center;
    height: 70px;     
}

#main_category{
    height: 35px;
    text-decoration: none;
    box-sizing: border-box;
    padding-top: 15px;
}

#menu{
    float: left;
    list-style: none;
    height: 30px;   
    font-size: medium; 
    text-align: center;
    box-sizing: border-box;
}

#menu a:hover{
    font-weight: bold;
}

.twoinone{
    box-sizing: border-box;
}

.twoinone li{
    display: none;
    font-size: 14px;
    float:left;
    list-style: none;
    box-sizing: border-box;
    padding: 4px 10px;
}

.twoinone:hover li, .twoinone-select li{
    display: block;
    box-sizing: border-box;
    padding-left: 20px;
} 

#subone{
    letter-spacing: 1px;
}

#subtwo{
    letter-spacing: 2px;
}

#menu > a, #menu a:visited{
    text-decoration: none;
    color:black;
    padding: 10px 75px;
}


#content_gray{
    background-color: #ECE7E7;
    /* height: 500px; */
    margin-top: 5px;
    padding-bottom: 15px;
}

#content_white{
    margin: 0 auto;
    width: 1200px;
    height: 1300px;
    margin-top: 50px;
}
