#logo{
    float: left;
    margin: 5px 40px;
}

#top_container{
    box-sizing: border-box;
    line-height: center;
    height: 70px;     
    margin-top: 20px;
}

#main_category{
    height: 35px;
    text-decoration: none;
    box-sizing: border-box;
    padding-top: 15px;
}

#menu{
    float: left;
    list-style: none;
    height: 30px;   
    font-size: medium; 
    text-align: center;
    box-sizing: border-box;
    /* letter-spacing: 2px;  */
}

#menu a:hover{
    font-weight: bold;
    text-decoration:underline;  
}

.twoinone{
    box-sizing: border-box;
}

.twoinone li{
    display: none;
    font-size: 14px;
    float:left;
    list-style: none;
    box-sizing: border-box;
    padding: 7px 10px;
    text-decoration: none;
}

.twoinone:hover li, .twoinone-select li{
    display: block;
    box-sizing: border-box;
    padding-left: 10px;
    text-align: center;
} 

#subone, #subtwo{
    letter-spacing: 1px;
}

#subone> a, #subtwo> a{
    color: black;
}

#menu > a, #menu a:visited{
    text-decoration: none;
    color:black;
    padding: 10px 62px;
    margin-right: 35px;
}


#content_gray{
    background-color: #ECE7E7;   
    margin-top: 5px;
    height: 260px;
}

#content_white{
    margin: 0 auto;
    width: 1200px;
    height: 1300px;
    margin-top: 50px;
}

@media screen and (max-width: 767px) {
    /* μ¤λ§νΈν° */

    #main_category {
        width: 100%;
        flex-direction: column;
    }

    #logo{
        margin: 2% 30%;
    }

    #menu {
        /* display:none; */
        font-size: 13px;
        width: 45%;
        margin-bottom: 10%;
        margin-top: 5%;
        margin-left: 2%;
        margin-right: 2%;
    }   

    #menu > a{
        padding: 0%;
        margin-right: 0;
    }

    #subone, #subtwo{
        font-size: 11px;
        padding-left: 30%;
        margin: 0; 
        padding-bottom:0;
    }

    #subone{
        padding-right: 10%;
    }

    #content_gray {
        width: 100%;
        height: 20%;
        margin-top: 45%;
    }

    #content_white {
        width: 100%;
        height: 2000px; 
    }

}


